@{
    ViewData["Title"] = "CreatePayment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="page-wrapper" style="min-height: 754px;background-color: #f8f9fa;">
        <div class="content container-fluid">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" style="background-color: #263b6b;color: #fff;">
                        <div class="card-title" style="font-weight:bold;">Validate Payment</div>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="clear">
                                <div style="display:none;" id="dvError">
                                    <div class="alert alert-danger" role="alert">
                                        <h6 id="info"></h6>
                                    </div>
                                </div>

                                <div style="display:none;" id="dvSuccess">
                                    <div class="alert alert-success" role="alert">
                                        <h6 id="passwordChangeSuccess"></h6>
                                    </div>
                                </div>
                                <form id="frmCreatPayment">

                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleDataList" class="form-label">Transaction Id</label>
                                                <input type="text" name="TransactionId" id="txtTransactionId" class="form-control" placeholder=" i.e QD70YNVL1K" />
                                            </div>
                                        </div>

                                    </div>

                                    <hr />

                                    <div class="col-md-3  pull-right">
                                        <div class="form-group row">
                                            <input type="button" onclick="GetTransaction()" class="form-control btn btn-outline-primary" value="Submit">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script>




    function ShowLoader() {

        $("#loadMe").modal('show');
    }

    function HideLoader() {

        $("#loadMe").modal('hide');
    }
    
    
    function HideError() {

        $('#dvError').delay(1000).hide(3000);
    }

    $("#btnSubmitPayment").click(function() {


        if ($('#txtPhoneNumber').val() == '') {

            $('#txtPhoneNumber').focus();

            $("#dvError").show();

            $("#info").text("Phone Number is required");

            return false;
        }

        if ($('#txtTransactionNumber').val() == '') {

            $('#txtTransactionNumber').focus();

            $("#dvError").show();

            $("#info").text("Transaction Number is required");

            return false;
        }

        if ($('#txtAmount').val() == '') {

            $('#txtAmount').focus();

            $("#dvError").show();

            $("#info").text("Amount is required");

            return false;
        }

        if ($('#txtTransactionDate').val() == '') {

            $('#txtTransactionDate').focus();

            $("#dvError").show();

            $("#info").text("Date of Payment is required");

            return false;
        }

        var data = $("#frmCreatPayment").serialize();

        $.ajax({

            type: "POST",

            url: "/Admin/Transactions/CreatePayment/",

            data: data,

            beforeSend: function() { ShowLoader(); },


            success: function(response) {

                if (response.success) {

                    $("#dvSuccess").show();

                    $("#passwordChangeSuccess").text(response.responseText);

                    setTimeout(function() {

                        window.location = "@Url.Action("Dashboard","Admin", new { area="" })";

                    }, 3000);

                } else {
                    $("#dvError").show();

                    $("#info").text(response.responseText);
                }
            },

            error: function(response) {
                alert("error!");  //

            },
            complete: function() {
                HideLoader();
            }
        })

    })


    function GetTransaction() {


        if ($('#txtTransactionId').val() == '') {

            $('#txtTransactionId').focus();

            $("#dvError").show();

            $("#info").text("Transaction Number is required");

            HideError();

            return false;
        }



        var transactionId = $('#txtTransactionId').val();

        $.get("/Admin/MpesaTransactions/GetByTransactionId/?TransactionId=" + transactionId, function(data, status) {
            console.log(data);
            if (data.data == false) {

                $("#dvError").show();

                $("#info").text("Payment details could not be found !");

                HideError();

            } else {

                $("#txtId").val(data.data.id);
                $("#txtMessage").text(data.data.message);
                $("#txtPhoneNumber").text(data.data.phoneNumber);
                $("#txtEmail1").text(data.data.email);
                $("#txtStatus").text(data.data.status);
                $("#txtName").text(data.data.name);
            }

        });
    };





</script>
