

<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Greenpark</title>
	<meta content="" name="keywords">
	<meta content="" name="description">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>*@
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" integrity="sha512-KXkS7cFeWpYwcoXxyfOumLyRGXMp7BTMTjwrgjMg0+hls4thG2JGzRgQtRfnAuKTn2KWTDZX4UdPg+xTs8k80Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js" integrity="sha512-o0rWIsZigOfRAgBxl4puyd0t6YKzeAw9em/29Ag7lhCQfaaua/mDwnpE2PVzwqJ08N7/wqrgdjc2E0mwdSY2Tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Favicon -->
	<link href="~/img/favicon.ico" rel="icon">
	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="~/css/loader.css" rel="stylesheet" />

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
	<!-- Libraries Stylesheet -->
	<link href="~/lib/animate/animate.min.css" rel="stylesheet">
	<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
	<!-- Customized Bootstrap Stylesheet -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link href="~/css/style.css" rel="stylesheet">
</head>

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
	<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>

<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">

	   <a href="~/Home/">
		<img class="img-fluid bg-dark p-0" style="width:5rem;" src="~/dashboard/assets/img/car-parking.png" alt="">
	</a>
	<div id="divHome">
		<a href="@Url.Action("Index", "Home")" class="nav-item nav-link active">Greenpark</a>
	</div>   
	
	<button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav ms-auto p-4 p-lg-0">


			<div id="divHome">
				<a href="@Url.Action("Index", "Home")" class="nav-item nav-link active">Home</a>
			</div>


		</div>

	</div>
</nav>
<!-- Navbar End -->
@RenderBody()


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<!-- Footer Start col-lg-3 -->
<div class="container-fluid bg-light  bg-dark ">
	<div class="row g-5 container">
		<div class=" col-md-5 justify-content-around">
			<h5 class="text-white mb-4">Address</h5>
			<p class="mb-2"><i class="fa fa-map-marker me-3"></i>Nairobi – Kenya</p>
			<p class="mb-2"><i class="fa fa-phone me-3"></i>+254 797 587635</p>
			<p class="mb-2"><i class="fa fa-envelope me-3"></i>enquiry@parkingmanager.co.ke</p>
			<div class="d-flex pt-2">
				<a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
				<a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
				<a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
				<a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
			</div>
		</div>

		<div class=" col-md-3 justify-content-around">
			<h5 class="text-white mb-4">Project Gallery</h5>
			<div class="row g-2">
				<div class="col-4">
					<img class="img-fluid rounded" src="/img/parking-lots.jpg" alt="">
				</div>
				<div class="col-4">
					<img class="img-fluid rounded" src="/img/parking-lots.jpg" alt="">
				</div>
				<div class="col-4">
					<img class="img-fluid rounded" src="/img/parking-lots.jpg" alt="">
				</div>
				<div class="col-4">
					<img class="img-fluid rounded" src="/img/parking-lots.jpg" alt="">
				</div>
				<div class="col-4">
					<img class="img-fluid rounded" src="/img/parking-lots.jpg" alt="">
				</div>
				<div class="col-4">
					<img class="img-fluid rounded" src="/img/parking-lots.jpg" alt="">
				</div>
			</div>
		</div>


		<div class=" col-md-4 justify-content-around">
			<h5 class="text-white mb-4">Quick Links</h5>
			<div class="row">
				<div class="col-md-6"><a class="btn btn-link" href="">About Us</a></div>
				<div class="col-md-6"><a class="btn btn-link" href="">Contact Us</a></div>
				<div class="col-md-6"><a class="btn btn-link" href="">Our Services</a></div>
				<div class="col-md-6"><a class="btn btn-link" href="">Terms & Condition</a></div>
				<div class="col-md-6"> <a class="btn btn-link" href="">Support</a></div>
			</div>
		</div>
		<hr />

		<div class="copyright col-md-12 ">
			<div class="text-center" style="margin-top:-3.75rem;">
				<!--text-md-start mb-3 mb-md-0-->
				&copy; <a href="#">ParkingManager.co.ke</a>, all right reserved.
			</div>
		</div>

	</div>


</div>


<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AppointmentModal">
        Launch demo modal
    </button>*@

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="spinner text-center">
					<div class="lds-ripple"><div></div><div></div></div>
				</div>
				<p class="text-center loader-text">Processing...</p>
			</div>
		</div>
	</div>
</div>





<div class="modal fade" id="AppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Book Your Appointment Now!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="custom-form" method="post" id="frmAppointments" name="contactForm">

					<div class="form-group">
						<label for="exampleInputEmail1">Name</label>
						<input type="text" class="form-control" id="txtName" aria-describedby="emailHelp" name="Name" placeholder="Enter your name">
					</div>

					<div class="form-group">
						<label for="exampleInputEmail1">PhoneNumber</label>
						<input type="text" class="form-control" id="txtPhoneNumber" aria-describedby="emailHelp" name="PhoneNumber" placeholder="Enter your Phone Number">
					</div>

					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" name="Email" placeholder="Enter email">
					</div>

					<div class="form-group">
						<label for="exampleInputEmail1">Date of Birth</label>
						<input type="date" class="form-control" id="txtDOB" aria-describedby="emailHelp" name="DateOfBirth" placeholder="Enter email">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnSubmit">Save changes</button>
			</div>
		</div>
	</div>
</div>



<link href="~/SweetAlart/sweetalert.min.css" rel="stylesheet" />
<script src="~/SweetAlart/sweetalert.min.js"></script>
<!-- JavaScript Libraries -->
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/wow/wow.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/waypoints/waypoints.min.js"></script>
<script src="~/lib/counterup/counterup.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/lib/isotope/isotope.pkgd.min.js"></script>
<script src="~/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->

<script src="~/js/main.js"></script>



