


<div class="col-12 col-md-4 col-lg-3 pr-sm-0 sidemenu-container">
    <ul class="bg-light sidemenu list-unstyled font-bold">
        <li>
            <a href="~/Team/" class="d-block p-3 "><i class="fa fa-users" aria-hidden="true"></i><span class=""> Our Team</span></a>
        </li>
      @*  <li>
            <a class="d-block p-3 sub-item position-relative collapsed" data-toggle="collapse" data-target="#sub_9"><i class="fa fa-wallet" aria-hidden="true"></i><span class=""> Donation Program</span></a>
            <ul class="collapse sub-item-list font-light list-unstyled bg-secondary " id="sub_9">
                <li class="pb-1"> <a href="~/Egg_Donation/" class="d-block ">- Egg Donation</a></li>
                <li class="pb-1"> <a href="~/Sperm_Donation/" class="d-block ">- Sperm Donation</a></li>
                <li class="pb-1"> <a href="~/Fertility_Preservation/" class="d-block ">- Fertility Preservation</a></li>
            </ul>
        </li>*@
        <li>
            <a href="~/Genetic_Testing/" class="d-block p-3 "><i class="fa fa-medkit" aria-hidden="true"></i><span class=""> Genetic Testing</span></a>
        </li>
        <li>
            <a href="~/Opening_Hours/" class="d-block p-3 "><i class="fa fa-clock" aria-hidden="true"></i><span class=""> Opening Hours</span></a>
        </li>
        <li>
            <a href="~/News_Media/" class="d-block p-3 "><i class="fa fa-file-video" aria-hidden="true"></i><span class=""> News and Media</span></a>
        </li>
        <li>
            <a href="~/Blog/" class="d-block p-3"><i class="fa fa-list-alt" aria-hidden="true"></i><span class=""> Our FP Blog</span></a>
        </li>
    </ul>
</div>