@{
    ViewData["Title"] = "Index";
}


<link href="~/css/contact.css?ver=1.6.3" rel="stylesheet" />

<body>

    <form id="regForm" class="mt-1">

        <!-- One "tab" for each step in the form: -->
        <div class="tab">

            <div class="freddo-inner">
                <div id="primary" class="content-area">

                    <main id="main" class="site-main">


                        <article id="post-245" class="post-245 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="https://nation.africa/kenya/blogs-opinion/blogs/international-women-s-day-it-s-time-we-cleared-stigma-around-infertility-in-women-challenged-misinformation-3740326" rel="bookmark">International Women’s Day</a>
                                </h2>
                                <div class="entry-meta">
                                    @*                   <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-12-29T10:49:57+00:00">March 08, 2022</time>
                                    <time class="updated" datetime="2021-12-29T10:50:05+00:00">March 08, 2022</time>
                                    </span>*@

                                    <span class="byline">
                                        <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                                        <span class="author vcard">
                                            <a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a>
                                        </span>
                                    </span>
                                    <span class="comments-link">
                                        <i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i>
                                        <a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point Holds Free Medical Camp at the Headteachers  Annual Conference in Mombasa</span></a>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>It’s time we cleared stigma around infertility in women, challenged misinformation.</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://nation.africa/kenya/blogs-opinion/blogs/international-women-s-day-it-s-time-we-cleared-stigma-around-infertility-in-women-challenged-misinformation-3740326">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-245 -->




                        <article id="post-245" class="post-245 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="https://nation.africa/kenya/health/waning-potency-how-kenya-s-male-fertility-is-tailing-off--3786744" rel="bookmark">Tailing off: Inside Kenya's male fertility crisis</a>
                                </h2>
                                <div class="entry-meta">
                                    @*          <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-12-29T10:49:57+00:00">April 20, 2022</time>
                                    <time class="updated" datetime="2021-12-29T10:50:05+00:00">April 20, 2022</time>
                                    </span>*@

                                    <span class="byline">
                                        <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                                        <span class="author vcard">
                                            <a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">Nation Author</a>
                                        </span>
                                    </span>
                                    <span class="comments-link">
                                        <i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i>
                                        <a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point Holds Free Medical Camp at the Headteachers  Annual Conference in Mombasa</span></a>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>Fertility Point Kenya (FPK) – a world class fertility centre committed to helping patients struggling with fertility challenges, is holding a free medical camp at Lifecare Hospitals in Bungoma.</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://nation.africa/kenya/health/waning-potency-how-kenya-s-male-fertility-is-tailing-off--3786744">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-245 -->




                        <article id="post-245" class="post-245 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="https://taarifa.rw/more-kenyan-men-fail-to-pregnate-their-lovers/" rel="bookmark">More Kenyan Men Fail To Pregnate Their Lovers</a>
                                </h2>
                                <div class="entry-meta">
                                    @*          <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-12-29T10:49:57+00:00">April 19, 2022</time>
                                    <time class="updated" datetime="2021-12-29T10:50:05+00:00">April 19, 2022</time>
                                    </span>*@

                                    <span class="byline">
                                        <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                                        <span class="author vcard">
                                            <a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a>
                                        </span>
                                    </span>
                                    <span class="comments-link">
                                        <i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i>
                                        <a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point Holds Free Medical Camp at the Headteachers  Annual Conference in Mombasa</span></a>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>When everyone was celebrating New Year’s Day, Wekesa Wasike was on the road in a bus from Kitale to Nairobi because his entire existence depended on it.</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://taarifa.rw/more-kenyan-men-fail-to-pregnate-their-lovers/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-245 -->

                        <article id="post-245" class="post-245 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="https://nation.africa/kenya/blogs-opinion/blogs/international-women-s-day-it-s-time-we-cleared-stigma-around-infertility-in-women-challenged-misinformation-3740326" rel="bookmark">International Women’s Day</a>
                                </h2>
                                <div class="entry-meta">
                                    @*                   <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-12-29T10:49:57+00:00">July 29, 2021</time>
                                    <time class="updated" datetime="2021-12-29T10:50:05+00:00">April 20, 2022</time>
                                    </span>*@

                                    <span class="byline">
                                        <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                                        <span class="author vcard">
                                            <a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">Nation Author</a>
                                        </span>
                                    </span>
                                    <span class="comments-link">
                                        <i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i>
                                        <a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point Holds Free Medical Camp at the Headteachers  Annual Conference in Mombasa</span></a>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>It’s time we cleared stigma around infertility in women, challenged misinformation</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://nation.africa/kenya/blogs-opinion/blogs/international-women-s-day-it-s-time-we-cleared-stigma-around-infertility-in-women-challenged-misinformation-3740326">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-245 -->


                        <article id="post-245" class="post-245 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="https://www.the-star.co.ke/sasa/lifestyle/2021-11-18-my-tough-journey-to-parenthood/" rel="bookmark">My tough journey to parenthood</a>
                                </h2>
                                <div class="entry-meta">
                                    @*                   <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-12-29T10:49:57+00:00">November 18, 2021</time>
                                    <time class="updated" datetime="2021-12-29T10:50:05+00:00">November 18, 2021</time>
                                    </span>*@

                                    <span class="byline">
                                        <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                                        <span class="author vcard">
                                            <a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a>
                                        </span>
                                    </span>
                                    <span class="comments-link">
                                        <i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i>
                                        <a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point Holds Free Medical Camp at the Headteachers  Annual Conference in Mombasa</span></a>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>I rose from self-pity after stumbling on contacts that connected me to fertility doctor.</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-245 -->

                        <article id="post-245" class="post-245 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="https://www.the-star.co.ke/sasa/lifestyle/2021-11-19-desperate-for-a-child-how-to-safely-get-one/" rel="bookmark">Desperate for a child? How to safely get one</a>
                                </h2>
                                <div class="entry-meta">
                                    @*             <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-12-29T10:49:57+00:00">November 19, 2021</time>
                                    <time class="updated" datetime="2021-12-29T10:50:05+00:00">November 19, 2021</time>
                                    </span>*@

                                    <span class="byline">
                                        <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                                        <span class="author vcard">
                                            <a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">Nation Author</a>
                                        </span>
                                    </span>
                                    <span class="comments-link">
                                        <i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i>
                                        <a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point Holds Free Medical Camp at the Headteachers  Annual Conference in Mombasa</span></a>
                                    </span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>The realisation that a couple cannot bear children breaks hearts and even marriages, but the inception of correctional procedures has helped salvage many marriages in the country.</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://www.the-star.co.ke/sasa/lifestyle/2021-11-19-desperate-for-a-child-how-to-safely-get-one/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-245 -->


                        <article id="post-245" class="post-245 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/" rel="bookmark">Fertility Point Holds Free Medical Camp at the Headteachers  Annual Conference in Mombasa</a></h2>		<div class="entry-meta">
                                    @*              <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-12-29T10:49:57+00:00">December 29, 2021</time>
                                    <time class="updated" datetime="2021-12-29T10:50:05+00:00">December 29, 2021</time>
                                    </span>*@
                                    <span class="byline">
                                        <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                                        <span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span>
                                    </span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point Holds Free Medical Camp at the Headteachers  Annual Conference in Mombasa</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>At the heart of the AGM Meeting for the Kenya Primary School Heads Association (Kepsha) held at Sheikh Zayed Hall in Mombasa, is the…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/12/29/fertility-point-holds-free-medical-camp-at-the-headteachers-annual-conference-in-mombasa/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-245 -->

                        <article id="post-243" class="post-243 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/12/28/what-are-the-surgical-treatment-options-for-infertility-in-women/" rel="bookmark">What are the surgical treatment options for infertility in women</a></h2>		<div class="entry-meta">
                                    @*            <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-12-28T05:34:27+00:00">December 28, 2021</time>
                                    <time class="updated" datetime="2021-12-28T05:34:35+00:00">December 28, 2021</time>
                                    </span>*@
                                    <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/12/28/what-are-the-surgical-treatment-options-for-infertility-in-women/#respond">Leave a Comment<span class="screen-reader-text"> on What are the surgical treatment options for infertility in women</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>Female Infertility is the inability to conceive (after at least one year of trying) or carry pregnancy to term. Female infertility can be attributed to various conditions such as endometriosis,…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/12/28/what-are-the-surgical-treatment-options-for-infertility-in-women/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-243 -->



                        <article id="post-238" class="post-238 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/11/29/what-is-ivf-treatment-with-donor-eggs/" rel="bookmark">What is IVF treatment with donor eggs?</a></h2>
                                <div class="entry-meta">
                                    @*                  <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-11-29T10:58:31+00:00">November 29, 2021</time>
                                    <time class="updated" datetime="2021-11-29T10:58:56+00:00">November 29, 2021</time>
                                    </span>*@
                                    <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/11/29/what-is-ivf-treatment-with-donor-eggs/#respond">Leave a Comment<span class="screen-reader-text"> on What is IVF treatment with donor eggs?</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>Intro Vitro Fertilisation (IVF) treatment with donor eggs gives women who are unable to conceive the chance to have a baby. This process has many similarities with the conventional IVF&nbsp;treatment.…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/11/29/what-is-ivf-treatment-with-donor-eggs/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-238 -->

                        <article id="post-235" class="post-235 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/11/20/desperate-for-a-child-how-to-safely-get-one/" rel="bookmark">Desperate for a child? How to safely get one</a></h2>		<div class="entry-meta">
                                    @*                                    <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-11-20T09:13:00+00:00">November 20, 2021</time>
                                    <time class="updated" datetime="2021-11-20T09:13:08+00:00">November 20, 2021</time>
                                    </span>*@
                                    <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/11/20/desperate-for-a-child-how-to-safely-get-one/#respond">Leave a Comment<span class="screen-reader-text"> on Desperate for a child? How to safely get one</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>This article was first published by The Star Newspaper here In vitro fertilisation has saved many from divorce due to childlessness The realisation that a couple cannot bear children breaks…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/11/20/desperate-for-a-child-how-to-safely-get-one/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-235 -->






                        <article id="post-233" class="post-233 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/11/14/why-some-couples-opt-to-choose-a-babys-gender-through-ivf/" rel="bookmark">Why Some Couples Opt to Choose a Baby’s Gender Through IVF</a></h2>		<div class="entry-meta">
                                    @*          <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-11-14T09:02:17+00:00">November 14, 2021</time>
                                    <time class="updated" datetime="2021-11-20T09:04:36+00:00">November 20, 2021</time>
                                    </span>*@
                                    <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/11/14/why-some-couples-opt-to-choose-a-babys-gender-through-ivf/#respond">Leave a Comment<span class="screen-reader-text"> on Why Some Couples Opt to Choose a Baby’s Gender Through IVF</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>A couple that wants to conceive may say that they’re only interested in having a healthy baby, whether boy or girl. Aspiring parents have a 50/50 chance of having a…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/11/14/why-some-couples-opt-to-choose-a-babys-gender-through-ivf/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-233 -->

                        <article id="post-230" class="post-230 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/11/07/high-cost-of-treatment-ignorance-blamed-for-infertility-woes/" rel="bookmark">High cost of treatment, ignorance blamed for infertility woes</a></h2>		<div class="entry-meta">
                                    @*              <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-11-07T11:15:41+00:00">November 7, 2021</time>
                                    <time class="updated" datetime="2021-11-07T11:15:50+00:00">November 7, 2021</time>
                                    </span>*@
                                    <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/11/07/high-cost-of-treatment-ignorance-blamed-for-infertility-woes/#respond">Leave a Comment<span class="screen-reader-text"> on High cost of treatment, ignorance blamed for infertility woes</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>This article was first published on Nation.Africa Many Kenyans in dire need of fertility treatment and associated services cannot access them, experts now say. And the few who manage to…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/11/07/high-cost-of-treatment-ignorance-blamed-for-infertility-woes/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-230 -->

                        <article id="post-226" class="post-226 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/10/27/fertility-points-over-65-ivf-success-rate-a-light-for-couples-looking-to-become-parents/" rel="bookmark">Fertility Point’s Over 65% IVF Success Rate a Light for Couples Looking to Become Parents</a></h2>		<div class="entry-meta">
                                    @*     <span class="posted-on">
                                    <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                    <time class="entry-date published" datetime="2021-10-27T08:56:05+00:00">October 27, 2021</time>
                                    <time class="updated" datetime="2021-10-27T09:05:31+00:00">October 27, 2021</time>
                                    </span>*@
                                    <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/10/27/fertility-points-over-65-ivf-success-rate-a-light-for-couples-looking-to-become-parents/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point’s Over 65% IVF Success Rate a Light for Couples Looking to Become Parents</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>This article was first published on Sokodirectory.com Fertility Point is the largest provider of fertility services in the world with fertility clinics in 12 countries spanning the US, Europe, the…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/10/27/fertility-points-over-65-ivf-success-rate-a-light-for-couples-looking-to-become-parents/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-226 -->

                        <article id="post-222" class="post-222 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/10/25/two-sides-of-a-coin-infertility-can-be-influenced-by-either-partner/" rel="bookmark">Two Sides of a Coin: Infertility can be Influenced by Either Partner</a></h2>		<div class="entry-meta">
                            @*        <span class="posted-on">
                                        <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                        <time class="entry-date published" datetime="2021-10-25T10:51:48+00:00">October 25, 2021</time>
                                        <time class="updated" datetime="2021-10-25T10:51:55+00:00">October 25, 2021</time>
                                    </span>*@
                                    <span class="byline">
                                        <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                                        <span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span>
                                    </span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/10/25/two-sides-of-a-coin-infertility-can-be-influenced-by-either-partner/#respond">Leave a Comment<span class="screen-reader-text"> on Two Sides of a Coin: Infertility can be Influenced by Either Partner</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>Infertility is not always a woman’s problem. Both men and women can contribute to infertility. Many couples struggle with infertility and seek help to conceive a baby, but it is…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/10/25/two-sides-of-a-coin-infertility-can-be-influenced-by-either-partner/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-222 -->

                        <article id="post-219" class="post-219 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/10/13/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/" rel="bookmark">Fertility Point Celebrates 3rd Anniversary with Over 700s Successful IVFs</a></h2>		<div class="entry-meta">
                           @*         <span class="posted-on">
                                        <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                        <time class="entry-date published" datetime="2021-10-13T08:57:07+00:00">October 13, 2021</time>
                                        <time class="updated" datetime="2021-10-13T08:57:14+00:00">October 13, 2021</time>
                                    </span>*@
                                    <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/10/13/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/#respond">Leave a Comment<span class="screen-reader-text"> on Fertility Point Celebrates 3rd Anniversary with Over 700s Successful IVFs</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p> Fertility Point Kenya, a world-class fertility center committed to helping patients grappling with fertility challenges become parents, is celebrating its third anniversary of operations…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/10/13/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-219 -->

                        <article id="post-215" class="post-215 post type-post status-publish format-standard hentry category-uncategorized">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/10/05/how-is-in-vitro-fertilization-performed/" rel="bookmark">How Is In Vitro Fertilization Performed?</a></h2>		<div class="entry-meta">
                           @*         <span class="posted-on">
                                        <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                                        <time class="entry-date published" datetime="2021-10-05T05:39:36+00:00">October 5, 2021</time>
                                        <time class="updated" datetime="2021-10-05T05:39:44+00:00">October 5, 2021</time>
                                    </span>*@
                                    <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/10/05/how-is-in-vitro-fertilization-performed/#respond">Leave a Comment<span class="screen-reader-text"> on How Is In Vitro Fertilization Performed?</span></a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->

                            <div class="entry-summary">
                                <p>There are five steps involved in IVF: stimulation egg retrieval insemination embryo culture transfer Stimulation Normally, a woman produces one egg during each menstrual cycle. However, IVF requires multiple eggs.…</p>
                            </div><!-- .entry-content -->
                            <footer class="entry-footer">
                                <span class="read-more"><a href="https://keParkingManager.co.ke/2021/10/05/how-is-in-vitro-fertilization-performed/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                            </footer><!-- .entry-footer -->
                        </article><!-- #post-215 -->


                    </main><!-- #main -->
                </div><!-- #primary -->


            </div>

        </div>

        <div class="tab">

            <article id="post-213" class="post-213 post type-post status-publish format-standard hentry category-uncategorized">
                <header class="entry-header">
                    <h2 class="entry-title">
                        <a href="https://keParkingManager.co.ke/2021/10/05/what-is-ivf-and-how-can-you-prepare-for-it/" rel="bookmark">What is IVF and how can you prepare for it?</a>
                    </h2>
                    <div class="entry-meta">
                       @* <span class="posted-on">
                            <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                            <time class="entry-date published" datetime="2021-10-05T05:36:21+00:00">October 5, 2021</time>
                            <time class="updated" datetime="2021-10-05T05:36:31+00:00">October 5, 2021</time>
                        </span>*@
                        <span class="byline">
                            <i class="fa fa-user spaceLeftRight" aria-hidden="true"></i>
                            <span class="author vcard">
                                <a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a>
                            </span>
                        </span>
                        <span class="comments-link">
                            <i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i>
                            <a href="https://keParkingManager.co.ke/2021/10/05/what-is-ivf-and-how-can-you-prepare-for-it/#respond">Leave a Comment<span class="screen-reader-text"> on What is IVF and how can you prepare for it?</span></a>
                        </span>
                    </div><!-- .entry-meta -->
                </header><!-- .entry-header -->

                <div class="entry-summary">
                    <p>What Is In Vitro Fertilization? In vitro fertilization (IVF) is a type of assistive reproductive technology (ART). It involves retrieving eggs from a woman’s ovaries and fertilizing them with sperm.…</p>
                </div><!-- .entry-content -->
                <footer class="entry-footer">
                    <span class="read-more"><a href="https://keParkingManager.co.ke/2021/10/05/what-is-ivf-and-how-can-you-prepare-for-it/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                </footer><!-- .entry-footer -->
            </article>


            <article id="post-168" class="post-168 post type-post status-publish format-standard hentry category-fertility-point category-infertility category-treatments-and-techniques">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/09/06/when-should-you-and-your-partner-get-tested-for-infertility/" rel="bookmark">When Should You and Your Partner Get Tested for Infertility?</a></h2>		<div class="entry-meta">
               @*         <span class="posted-on">
                            <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                            <time class="entry-date published" datetime="2021-09-06T14:38:00+00:00">September 6, 2021</time>
                            <time class="updated" datetime="2021-09-06T14:39:44+00:00">September 6, 2021</time>
                        </span>*@
                        <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/09/06/when-should-you-and-your-partner-get-tested-for-infertility/#respond">Leave a Comment<span class="screen-reader-text"> on When Should You and Your Partner Get Tested for Infertility?</span></a></span>
                    </div><!-- .entry-meta -->
                </header><!-- .entry-header -->

                <div class="entry-summary">
                    <p>If you and your partner are trying to have a baby but haven’t been successful, you may start to wonder if you should do a fertility test. Experts like Fertility…</p>
                </div><!-- .entry-content -->
                <footer class="entry-footer">
                    <span class="read-more"><a href="https://keParkingManager.co.ke/2021/09/06/when-should-you-and-your-partner-get-tested-for-infertility/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                </footer><!-- .entry-footer -->
            </article>



            <article id="post-156" class="post-156 post type-post status-publish format-standard hentry category-fertility category-fertility-point">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="https://keParkingManager.co.ke/2021/08/19/how-to-find-the-best-fertility-center-near-you/" rel="bookmark">How to Find The Best Fertility Center Near You</a></h2>		<div class="entry-meta">
                @*        <span class="posted-on">
                            <i class="fa fa-calendar spaceRight" aria-hidden="true"></i>
                            <time class="entry-date published" datetime="2021-08-19T07:17:11+00:00">August 19, 2021</time>
                            <time class="updated" datetime="2021-08-19T07:19:32+00:00">August 19, 2021</time>
                        </span>*@
                        <span class="byline"><i class="fa fa-user spaceLeftRight" aria-hidden="true"></i><span class="author vcard"><a class="url fn n" href="https://keParkingManager.co.ke/author/admin/">FP Author</a></span></span><span class="comments-link"><i class="fa fa-comments spaceLeftRight" aria-hidden="true"></i><a href="https://keParkingManager.co.ke/2021/08/19/how-to-find-the-best-fertility-center-near-you/#respond">Leave a Comment<span class="screen-reader-text"> on How to Find The Best Fertility Center Near You</span></a></span>
                    </div><!-- .entry-meta -->
                </header><!-- .entry-header -->

                <div class="entry-summary">
                    <p>Every year, clients facing fertility problems seek help from various fertility clinics worldwide. The journey to parenthood for each of them is unique. For those seeking fertility services, the starting…</p>
                </div><!-- .entry-content -->
                <footer class="entry-footer">
                    <span class="read-more"><a href="https://keParkingManager.co.ke/2021/08/19/how-to-find-the-best-fertility-center-near-you/">Read More<i class="fa fa-caret-right spaceLeft" aria-hidden="true"></i></a></span>
                </footer><!-- .entry-footer -->
            </article>
        </div>



        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>


</body>

<style>


    #regForm {
        /*      background-color: #ffffff;*/
        margin: 100px auto;
        padding: 40px;
        width: 70%;
        min-width: 300px;
        color: #121212;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 2;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    button {
        background-color: #04AA6D;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }
</style>
<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form...
        if (currentTab >= x.length) {
            // ... the form gets submitted:
            document.getElementById("regForm").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "") {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                // and set the current valid status to false
                valid = false;
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }
</script>

