
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Fertility Preservation Centre in Kenya - Freezing eggs, sperms and embryos</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="/img/CMSPage11.jpg" alt="Fertility Preservation Centre in Kenya - Freezing eggs, sperms and embryos" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <p>
                                Fertility preservation is the process of safeguarding current reproductive abilities into the future by freezing eggs, sperms and embryos.<br>
                                <br>
                                Fertility preservation can be considered for women who are in need to preserve their fertility due to social reasons or medical reasons. Similarly fertility preservation can be done by freezing sperms or embryos so that they can be used at a later date.<br>
                                <br>
                                Due to changes in lifestyle, women nowadays wish to postpone childbearing for some years. The fact is that female fertility declines rapidly after the age of 35 as the quality of the eggs diminishes. Therefore to improve the chance to have successful pregnancy at a later age, women can freeze and store their eggs at an earlier age.<br>
                                <br>
                                Fertility preservation can also be done in women who are in need to preserve their fertility due to a medical condition like cancer. Studies show that chemotherapy or radiation therapy affects reproductive health.Thanks to the improvement of prognosis in cancer patients, modern anticancer treatments have led to significant reduction in mortality. Fertility preservation is recommended to patients of reproductive age who are keen to have children after cancer treatment. After the&nbsp;completion of the cancer treatment and once the woman recover completely and is ready to conceive, the preserved eggs can be thawed, fertilized, and the embryo can be implanted in&nbsp;to the&nbsp;uterus for a successful pregnancy.
                            </p>
                        </div>
                        <div class="py-3 border-top border-bottom expand-block">
                            <h4 class="expand-head font-rglr position-relative text-secondary collapsed" data-target="#Freezing" data-toggle="collapse">
                                Egg (Oocyte) Freezing
                            </h4>
                            <div class="collapse" id="Freezing">
                                <p class="py-3">
                                    Egg freezing, or oocyte cryopreservation is a process in which eggs are retrieved from the ovaries, frozen and stored for the future use when the woman wishes to achieve pregnancy.
                                </p>
                                <p class="pb-3">
                                    To retrieve the eggs, woman has to undergo hormonal stimulation treatment for the ovaries to produce mature eggs as compared to nature cycle. The eggs are then retrieved through a vaginal procedure known as ovum pick up, where the oocytes and the surrounding fluid in the ovarian follicles are aspirated while under sedation and is frozen by a process called vitrification. Vitrification allows the mature eggs to be cryopreserved in a stable condition so that they can be used at a later date. Approximately 10 -15 matured eggs should be frozen to give a good chance for a later pregnancy.
                                </p>
                                <p class="pb-3">
                                    When the woman is ready to conceive, her frozen eggs can be thawed, fertilised with sperm in a lab and implanted into the uterus to achieve pregnancy. Oocyte cryopreservation has advanced greatly over the past few years, with improved overall success of eggs surviving the freezing process.
                                </p>
                                <div class="mb-4 pb-lg-2">
                                    <h5 class="text-secondary mb-4 font-rglr">
                                        Who needs egg freezing?
                                    </h5>
                                    <h6 class="mb-3 text-secondary font-rglr">
                                        Cryopreservation of the oocytes can be considered for a variety of reasons:
                                    </h6>
                                    <ul>
                                        <li>
                                            Delay in childbearing due to social or personal reasons.
                                        </li>
                                        <li>
                                            Women with cancer requiring chemotherapy radiation therapy
                                        </li>
                                        <li>
                                            Surgery that may cause damage to the ovaries.
                                        </li>
                                        <li>
                                            Risk of premature ovarian failure because of chromosomal abnormalities
                                        </li>
                                        <li>
                                            Ovarian disease with risk of damage to the ovaries.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="py-3  border-bottom expand-block">
                            <h4 class="expand-head font-rglr position-relative text-secondary collapsed" data-target="#SpermFreezing" data-toggle="collapse">
                                Sperm Freezing
                            </h4>
                            <div class="collapse" id="SpermFreezing">
                                <p class="py-3">
                                    Sperm freezing is the process where the sperm cells are frozen and preserved for a later date. Sperm freezing is ideal for men who want to delay parenthood to a later date or for men who is planning to undergo any medical treatment that could impact the sperm quality. Sperm cells can be successfully frozen and stored in a laboratory for decades.
                                </p>
                                <p class="pb-3">
                                    Semen is collected through ejaculation or can be surgically retrieved and it is then analysed and the sperm cells are frozen at -196° in liquid nitrogen. These frozen sperm later can be thawed and successfully used in fertility treatments such as Intrauterine Insemination (IUI) or In-Vitro Fertilisation (IVF).
                                </p>
                                <div class="mb-4 pb-lg-2">
                                    <h6 class="mb-3 text-secondary font-rglr">
                                        Men may choose Sperm Freezing for a variety of reasons including:
                                    </h6>
                                    <ul>
                                        <li>
                                            Advancing age
                                        </li>
                                        <li>
                                            High risk exposure
                                        </li>
                                        <li>
                                            Declining sperm concentration
                                        </li>
                                        <li>
                                            Planning to undergo a vasectomy
                                        </li>
                                        <li>
                                            Prior to cancer treatment
                                        </li>
                                        <li>
                                            Prior to any treatment for other medical conditions that could affect fertility
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="py-3  border-bottom expand-block">
                            <h4 class="expand-head font-rglr position-relative text-secondary collapsed" data-target="#EmbryoFreezing" data-toggle="collapse">
                                Embryo Freezing
                            </h4>
                            <div class="collapse" id="EmbryoFreezing">
                                <p class="py-3">
                                    Embryo freezing is the process of cryopreserving embryos by freezing them in liquid nitrogen at a temperature of -196°C for extended periods. Couples can consider embryo cryopreservation if they have good quality embryos which are surplus following an IVF or ICSI cycle. These cryopreserved embryos can be used for future transfer when the couple wish to have another child. For couples planning to attempt pregnancy again, frozen embryos&nbsp;can provide the possibility of trying again without having to undergo stimulation of the ovaries or egg retrieval.
                                </p>
                                <div class="mb-4 pb-lg-2">
                                    <h6 class="mb-3 text-secondary font-rglr">
                                        Women may choose embryo preservation for a number of reasons.
                                    </h6>
                                    <ul>
                                        <li>
                                            Women developing ovarian hyper stimulation syndrome post IVF
                                        </li>
                                        <li>
                                            Social reasons
                                        </li>
                                        <li>
                                            Those suffering from endometriosis
                                        </li>
                                        <li>
                                            Women diagnosed with cancer may choose to freeze embryos for future use.
                                        </li>
                                        <li>
                                            Early menopause
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

