
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")


            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Egg Donation Program - Egg Donation Clinics in Kenya</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage19.jpg" alt="Egg Donation Program - Egg Donation Clinics in Kenya" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Egg Donation
                            </h4>
                            Egg Donation is an anonymous and altruistic process where a woman (donor) donates her eggs, which can be given to a suitable recipient in order to help the recipient obtain pregnancy.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Who needs egg donation?
                            </h4>
                            Couples resort to egg donation, when it is not viable for the female partner to conceive with her own eggs due to various reasons. An IVF treatment with donor egg is recommended when the women is unable to produce good quality eggs to fertilise naturally.
                        </div>
                        <p>
                            Based on a series of diagnostic tests the fertility consultant will recommend, if an egg donation is warranted.
                        </p>
                        <div class="mb-4 pb-lg-2">
                            <h5>
                                Women with any of the below conditions may be a candidate for donor eggs:
                            </h5>
                            <dl class="my-3">
                                <dt class="pb-2">
                                    <span class="d-inline-block align-middle ml-2">Premature ovarian failure</span>
                                </dt>
                                <dd class="pb-3">
                                    It is the loss of normal function of ovaries in women under 40. Women with this condition experience premature menopause, as the ovaries fail to release eggs regularly. Fertility drugs are not effective in women with Premature Ovarian Failure as the ovaries does not respond to the hormones used to stimulate the eggs for maturation.
                                </dd>
                                <dt class="pb-2">
                                    <span class="d-inline-block align-middle ml-2">Diminished ovarian reserve</span>
                                </dt>
                                <dd class="pb-3">
                                    It is a condition indicating a natural decline in woman’s ovarian function. This can often be caused by age, because there will be a significant decrease in egg quality in most of the women above 35 years.
                                </dd>
                                <dt class="pb-2">
                                    <span class="d-inline-block align-middle ml-2">Increased risk of genetic diseases</span>
                                </dt>
                                <dd class="pb-3">
                                    Women who are carriers of genes with genetically transmitted diseases that could be passed on to the child.
                                </dd>
                                <dt class="pb-2">
                                    <span class="d-inline-block align-middle ml-2">Previous history of IVF failures</span>
                                </dt>
                                <dd class="pb-3">
                                    Donor egg is also recommended to women with previous history of unsuccessful IVF attempts using own eggs.
                                </dd>
                            </dl>
                        </div>
                        <div class="py-3 border-top border-bottom expand-block">
                            <h4 aria-expanded="false" class="expand-head font-rglr position-relative text-secondary collapsed" data-target="#egg-donation" data-toggle="collapse">
                                Egg donation program
                            </h4>
                            <div class="collapse" id="egg-donation">
                                <p class="py-3">
                                    The egg donation is an anonymous program that will help intended parents fulfill their dream of parenthood. The IVF centre will have access to a diverse database of egg donor profiles. As it is very critical that the egg donor possesses a clean medical history, there will be a stringent selection criteria to screen for healthy women who meets the conditions established by international standards. The experienced team of IVF consultants and senior embryologist will offer all the support and guidance throughout the egg donation process. They will ensure that the team finds the most suitable donor and provide clear information and treatment timelines.
                                </p>
                                <h5 class="text-secondary mb-3 font-rglr">
                                    There are two types of fertility treatment options available with donor eggs
                                </h5>
                                <dl class="mt-3 mb-5">
                                    <dt class="pb-2 h6 font-rglr">
                                        <span class="d-inline-block align-middle ml-2">IVF with donor eggs and partner’s sperm</span>
                                    </dt>
                                    <dt class="pb-2 h6 font-rglr">
                                        <span class="d-inline-block align-middle ml-2">IVF with donor eggs and donor sperm</span>
                                    </dt>
                                </dl>
                                <div class="mb-4 pb-lg-2">
                                    <h4 class="mb-3">
                                        IVF treatment with donor eggs
                                    </h4>
                                    <h5 class="text-secondary mb-3 font-rglr">
                                        Step 1: Donor selection
                                    </h5>
                                    <p class="mb-2">
                                        Egg donors undergo a stringent screening criteria including physical examination, blood tests, drug tests, ultrasound to examine the reproductive organs, psychological assessment and infectious disease screening.<br>
                                        <br>
                                        In this anonymous process, donor eggs are selected by matching the phenotypes (physical characteristics) of the donor and recipient as closely as possible which is also called as phenotypes matching.<br>
                                        <br>
                                        After being selected and completing the screening process, donor will sign a consent form to use their eggs in the medical treatment of another couple.
                                    </p>
                                </div>
                                <div class="mb-4 pb-lg-2">
                                    <h5 class="text-secondary mb-3 font-rglr">
                                        Step 2: Donor treatment
                                    </h5>
                                    <p class="mb-2">
                                        The donor will have to undergo a course of treatment for about two weeks to stimulate the ovaries. For this she will be administered daily under the skin hormone injections to stimulate her ovaries to release more than one egg to mature for retrieval. During this time the donor is monitored closely through blood test and ultrasound ensuring that the ovaries are responding well. When the eggs have sufficiently developed, HCG shot is triggered to mature the eggs and two days later, donor eggs are retrieved under sedation.
                                    </p>
                                </div>
                                <div class="mb-4 pb-lg-2">
                                    <h5 class="text-secondary mb-3 font-rglr">
                                        Step 3: In vitro fertilisation and embryo transfer
                                    </h5>
                                    <p class="mb-2">
                                        While the donor is prepared to develop eggs for retrieval, the recipient will be administered estrogen and progesterone to develop the endometrial lining for embryo transfer.<br>
                                        <br>
                                        The retrieved donor eggs are placed in a petri dish, while the semen is being prepared for fertilization. In the IVF procedure, washed and prepared semen is placed with the donor eggs in the culture dish. In the next two to three days these fertilized eggs will become embryos to be the transferred to the uterus. On day 3 or day 5, as the case may be, the embryo with the best implantation potential is inserted into a thin catheter and are placed inside the uterus.<br>
                                        <br>
                                        Two weeks after the embryo transfer, a pregnancy test will be carried out.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
