@{
}

<head>
    <link href="~/booking/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
</head>

<body class="body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8  text-center p-0 mt-3 mb-5">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3" style="border: 1px solid rgba(0,0,0,0.125);">
                    <h2 id="heading">Book Appointment</h2>
                    <p>Fill all form field to go to next step</p>
                    <div class="container">
                        <form id="frmSubAppointment">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Slots</strong></li>
                                <li id="personal"><strong>Personal Information</strong></li>
                                <li id="payment"><strong>Payment</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br> <!-- fieldsets -->

                            <fieldset>
                                <div class="form-card">
                                    <div>
                                        <div class="col-md-12">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Timeslots</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 1 - 4</h2>
                                        </div>
                                    </div>

                                    <div class="row g-0" id="divSlots">

                                        <div class="col-md-4">

                                            <div id="txtAppointmentDate" name="NewAppointmentDate" onchange="GetSlotsByDate(this)"></div>
                                        </div>

                                        <div class="col-md-8">
                                            <div id="slots" class="row ">
                                            </div>
                                            <div id="divShowMessage" style="display:none;">
                                                <div class="alert alert-danger" role="alert" id="error">
                                                    <div id="divmessage"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <input type="button" id="btnSlotNext" style="display:none;" name="next" class="next action-button" value="Next" />
                            </fieldset>

                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Personal Information:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 2 - 4</h2>
                                        </div>
                                    </div>

                                    <div class="row mt-3" id="divPersonalDetails">

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">First Name :</label>
                                                <input type="text" class="form-control" id="txtFirstName" name="FirstName" onchange="GetBillingDetails(this)" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Last Name :</label>
                                                <input type="text" class="form-control" id="txtLastName" name="LastName" onchange="GetBillingDetails(this)" required>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Phone Number :</label>
                                                <input type="text" class="form-control" id="txtPhoneNumber" name="PhoneNumber" onchange="GetBillingDetails(this)">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email :</label>
                                                <input type="text" class="form-control" id="txtEmail" name="Email" onchange="GetBillingDetails(this)">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <input type="button" id="btnNextPersonalDetails" name="next" class="next action-button" value="Next" />

                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

                            </fieldset>


                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Payment:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 3 - 4</h2>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-6 col-sm-5" id="DivPaymentMethods">

                                            <div class="accordion" id="accordionExample">
                                                <!------Mpesa paybill--->
                                                <div class="accordion-item">

                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Mpesa paybill
                                                        </button>
                                                    </h2>

                                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">

                                                        <div class="accordion-body">

                                                            <div class="panel-body">
                                                                <img class="media-object thumbnail pull-left" src="/img/payment/mpesa.jpg" alt="" style="margin-right:10px; width:116px;">
                                                                <div class="clearfix"></div>
                                                                <div id="MpesaStatus">
                                                                    <p class="alert alert-info m0" style="padding:20px;  border-radius:5px;  border: 1px solid">
                                                                        We have received Ksh.
                                                                        0 Please Pay Ksh. @ViewBag.ServiceAmount to complete the payment. If you have paid the full amount. Wait a few minutes then Click 'Complete'
                                                                    </p>
                                                                </div>
                                                                <ol class="mt10">
                                                                    <li>Go to M-PESA on your phone</li>
                                                                    <li>Select Pay Bill option</li>
                                                                    <li>Enter Business no.<strong style="color:red;">206206</strong></li>
                                                                    <li>Enter Account no. <strong style="color:red;">(Your ID / Passport No)</strong></li>
                                                                    <li>Enter the Amount. <strong style="color:red;">KES @ViewBag.ServiceAmount</strong></li>
                                                                    <li>Enter your M-PESA PIN and Send</li>
                                                                    <li>You will receive a confirmation SMS from MPESA</li>
                                                                    <li>Click 'Submit' Button once you receive MPESA confirmation</li>
                                                                </ol>
                                                                <input style="display: none" type="text" id="maphone" placeholder="Enter Mobile Number You used to pay" class="form-control mb20 mt10" name="ref">
                                                                <input style="display: none" type="text" id="maref" placeholder="Enter Mpesa Reference" class="form-control mb20 mt10" name="ref">
                                                                @*                                                                <button class="btn btn-success" onclick="PayMpesa('https://pesaflow.ecitizen.go.ke/PaymentAPI/Gateway.php', '24', 'IMPGUJK', 'VEBJBEM', '1050', 'http://dci.ecitizen.go.ke/payment/invoice/4583659/callback?status=success&amp;context=')">Complete</button>
                                                                *@
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!------End paybill--->
                                                <!------Mpesa Express--->
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Mpesa Express
                                                        </button>
                                                    </h2>
                                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="panel-body">

                                                                <div class="clearfix"></div>

                                                                <div id="StkStatus">

                                                                    <div id="divCloseSuccess">
                                                                        <div class="divsuccess" style="display:none" id="successMsg">
                                                                            <div class="alert alert-success" role="alert" id="error" style="padding: 20px;border-radius: 5px;border: 1px solid;">
                                                                                <p id="showsuccess"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div id="divCloseError">
                                                                        <div class="divError" style="display:none" id="errorMsg">
                                                                            <div class="alert alert-danger" role="alert" id="error" style="padding: 20px;border-radius: 5px;border: 1px solid;">
                                                                                <p id="showError"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <ol class="mt 10" id="payment_instructions">

                                                                    <li>Enter your Safaricom Mobile Phone Number to pay with below and click Pay</li>

                                                                    <li>When prompted, enter MPESA PIN  </li>

                                                                    <li>Click 'Submit' Button once you receive MPESA confirmation </li>

                                                                </ol>

                                                                <ol class="mt10" id="recon_instructions" style="display: none;">

                                                                    <li>Open the text you have received from MPESA  </li>

                                                                    <li>Enter account reference detail below e.g PF_ECITIZEN_SDSDS_10 </li>

                                                                    <li>Click 'Confirm' button. </li>
                                                                </ol>

                                                                <input type="text" id="txtMpesaPhoneNumber" value="254704509484" class="form-control mb20 mt10" name="stk_msisdn" required="">

                                                                <input type="text" id="stk_reference" value="" class="form-control mb20 mt10" name="stk_reference" placeholder="e.g PF_ECITIZEN_SDSDS_10" style="display: none;">

                                                                <button id="prompt_button" class="btn btn-success mt-3" onclick="SendStkPush()">Pay</button>

                                                                <div class="mt-3" id="divStkStatus" style="display: none;">

                                                                    <button id="complete_button" class="btn btn-success" onclick="Complete()">Complete</button>

                                                                    <button id="complete_recon_button" class="btn btn-success" onclick="CompleteRecon()">Confirm</button>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!------End Express--->

                                            </div>
                                        </div>

                                        <!----Summary---->
                                        <div class="col-md-6 col-sm-5">

                                            <div class="card">
                                                <div class="card-header text-white" style="background-color: #202122;">
                                                    Billing Details

                                                </div>
                                                <div class="card-body">


                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div href="#" class="pull-left">
                                                                <img style="width:80px;" alt="" src="/img/payment/profile-1.png" class="media-object thumbnail">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-8">
                                                            <div class="event-body smal">
                                                                <h4 class="subtitle" style="margin-bottom:0;" id="txtPatientName"> </h4>
                                                                <h4 class="details" style="margin-top:2px;"><small id="txtPatientPhoneNumber"></small></h4>
                                                                <h4 class="details" style="margin-top:2px;"><small id="txtPatientEmail"></small></h4>
                                                                <h4 class="details" style="margin-top:2px;"><small>Appointment Date:</small><small id="txtPatientAppDate" class="dateTime"> </small></h4>
                                                                <h4 class="details" style="margin-top:2px;"><small>Appointment Time:</small><small id="txtPatientAppTime" class="dateTime"> </small></h4>
                                                                @*                                                                <h4 class="details" style="margin-top:2px;"><small id="txtRefNo">Reference: VEBJBEM</small></h4>
                                                                *@
                                                            </div>
                                                        </div>

                                                        <hr />
                                                        <div class="mb-1">
                                                            <h4 class="subtitle">Summary </h4>
                                                        </div>

                                                        <h4 class="details">Subtotal  <div class="pull-right pr10">KES @ViewBag.ServiceAmount</div></h4>

                                                        <h4 class="panel panel-warning panel-alt widget-today total">
                                                            Total
                                                            <div class="pull-right pr10">KES @ViewBag.ServiceAmount</div>
                                                        </h4>

                                                    </div>

                                                </div>
                                            </div>




                                        </div>
                                        <!----End Summary---->
                                    </div>

                                </div>
                                <input type="button" name="next" onclick="SubmitAppointment()" class="next action-button" value="Submit" />

                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                            </fieldset>


                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Finish:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 4 - 4</h2>
                                        </div>
                                    </div> <br><br>

                                    <div class="divError" style="display:none" id="paymentErrorMsg">

                                        <h2 class="purple-text text-center">
                                            <strong>Error !</strong>
                                        </h2>


                                        <div class="alert alert-danger" role="alert" id="error" style="padding: 20px;border-radius: 5px;border: 1px solid;">
                                            <p id="showPaymentErrorMsg"></p>
                                        </div>
                                    </div>



                                    <br>

                                    @*                                    <div class="row justify-content-center">
                                    <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                    </div>*@
                                    <br>
                                    <br>
                                    <div class="row justify-content-center">
                                        @*           <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have successfully submited your appointment</h5>
                                        </div>*@

                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                            </fieldset>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>


<style>
    body {
        background-color: #f1f1f1;
    }

    html {
        height: 100%
    }

    #heading {
        /*text-transform: uppercase; */

        color: #263b6b;
        font-weight: normal
    }

    #frmSubAppointment {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

        #frmSubAppointment fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }

    .form-card {
        text-align: left
    }

    #frmSubAppointment fieldset:not(:first-of-type) {
        display: none
    }
    /*
                                                                        #frmSubAppointment input,

                                                                        #frmSubAppointment textarea {
                                                                            padding: 8px 15px 8px 15px;
                                                                            border: 1px solid #ccc;
                                                                            border-radius: 0px;
                                                                            margin-bottom: 25px;
                                                                            margin-top: 2px;
                                                                            width: 100%;
                                                                            box-sizing: border-box;
                                                                            font-family: montserrat;
                                                                            color: #2C3E50;
                                                                            background-color: #ECEFF1;
                                                                            font-size: 16px;
                                                                            letter-spacing: 1px
                                                                        }*/

    #frmSubAppointment input:focus,
    #frmSubAppointment textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #263b6b;
        outline-width: 0
    }

    #frmSubAppointment .action-button {
        width: 100px;
        background: #263b6b;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

        #frmSubAppointment .action-button:hover,
        #frmSubAppointment .action-button:focus {
            background-color: #263b6b
        }

    #frmSubAppointment .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

        #frmSubAppointment .action-button-previous:hover,
        #frmSubAppointment .action-button-previous:focus {
            background-color: #000000
        }

    .fs-title {
        font-size: 25px;
        color: #263b6b;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #263b6b;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

        #progressbar .active {
            color: #263b6b
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f13e"
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f007"
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f030"
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c"
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #263b6b
        }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #263b6b
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }

    .dateTime {
        color: #0da4f0;
        font-weight: bold;
    }

    .total {
        color: #0da4f0;
        font-weight: bold;
    }


    .label {
        display: flex;
        border: 1px solid;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        max-width: 11em;
        color: #455A64;
    }

        .label input {
            position: absolute;
            display: none;
            color: #fff !important;
        }

</style>

<link href="~/SweetAlart/sweetalert.min.css" rel="stylesheet" />
<script src="~/SweetAlart/sweetalert.min.js"></script>
<script src="~/ParkingManager/appointment1.js"></script>



<script>

    $(function() {
        //$("#txtAppointmentDate").datepicker({ minDate: 0 });

        $("#txtAppointmentDate").datepicker();

    });

    $(document).ready(function() {

        debugger

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;

        var current = 1;

        var steps = $("fieldset").length;

        setProgressBar(current);

        $(".next").click(function() {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function(now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({

                        'display': 'none',

                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function() {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function(now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar").css("width", percent + "%")
        }

        $(".submit").click(function() {

            return false;
        })

    });



</script>