
@{
    ViewData["Title"] = "Index";
}


<div class="video">
    <main id="main" class="site-main">
        <article id="post-201" class="post-201 page type-page status-publish hentry">

            <div class="entry-content">

                <figure class="wp-block-video">
                    <video width="710" height="450" controls="" src="~/tourvideo/fptourlow-2.mp4"></video>
                    <figcaption>
                        <strong>Take a tour inside our state-of-the-art facility based in Nairobi, Kenya.</strong>
                    </figcaption>
                </figure>
            </div><!-- .entry-content -->

        </article><!-- #post-201 -->

    </main><!-- #main -->
</div><!-- #primary -->

<br />
<br />
<!-- #content -->


<style>
    .video {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>

