@model ParkingManager.DTO.ApplicationUserModule.LoginDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>Fertility - Point</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="~/dashboard/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/dashboard/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/dashboard/assets/css/style.css">


        <link href="~/css/loader.css" rel="stylesheet" />
</head>

<body>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="~/img/logo-bk.png" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Forgot Password</h1>

                            <div style="display:none;" id="dvMessage">
                                <div class="alert alert-success" role="alert">
                                    <h6 id="info"></h6>
                                </div>
                            </div>

                            <div style="display:none;" id="dvError">
                                <div class="alert alert-danger" role="alert">
                                    <h6 id="error"></h6>
                                </div>
                            </div>

                            <form id="frmReset">


                                <div id="divShowMessage" style="display:none;">
                                    <div class="alert alert-danger" role="alert" id="error">
                                        <div id="divmessage"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email" })
                                </div>

                                <div class="form-group">
                                    <input type="button" class="btn btn-primary w-100" value="Submit" id="btnLogin" />

                                </div>


                            </form>

                            <div class="text-center forgotpass"><a href="@Url.Action("Login", "Account")">Click here to login !</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/dashboard/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/dashboard/assets/js/bootstrap.bundle.min.js" type="efa6f651afd8f2f4a356ad85-text/javascript"></script>
    <script src="~/dashboard/assets/js/script.js" type="efa6f651afd8f2f4a356ad85-text/javascript"></script>
    <script src="~/dashboard/assets/cloudflare-static/rocket-loader.min.js" data-cf-settings="efa6f651afd8f2f4a356ad85-|49" defer=""></script>


</body>

<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="spinner text-center">
                    <div class="lds-ripple"><div></div><div></div></div>
                </div>
                <p class="text-center loader-text">Processing...</p>
            </div>
        </div>
    </div>
</div>


<script>


    function ShowLoader() {

        $("#loadMe").modal('show');
    }

    function HideLoader() {

        $("#loadMe").modal('hide');
    }

    $("#btnLogin").click(function() {

        var data = $("#frmReset").serialize();

        $.ajax({

            type: "POST",

            url: "/Account/SendPassword/",

            data: data,

            beforeSend: function() { ShowLoader(); },

            success: function(response) {

                console.log(response.responseText);

                if (response.success) {

                    $("#dvError").hide();

                    $("#dvMessage").show();

                    $("#info").text(response.responseText);
                }

                else {

                    HideLoader();

                    $("#dvMessage").hide();

                    $("#dvError").show();

                    $("#error").text(response.responseText);


                }
            },

            error: function(response) {
                alert("error!");
            },
            complete: function() {
                HideLoader();
            }
        })

    })




                    //var UserLoginValudation = function() {

                    //    //To capture the form data

                    //    var formData = new FormData();

                    //    var formcontroldata = $("#formlogin").serializeArray();

                    //    $.each(formcontroldata, function(i, field) {

                    //        formData.append(field.name, field.value);

                    //    });

                    //    $("#btnLogin").val("Please wait..");

                    //    //To make the ajax request

                    //    $.ajax({

                    //        url: $("#formlogin").attr('action'),

                    //        type: $("#formlogin").attr('method'),

                    //        data: formData,

                    //        contentType: false, // Not to set any content header

                    //        processData: false, // Not to process data

                    //        dataType: 'json',

                    //        cache: false,

                    //        success: function(result) {

                    //            if (result.status == 0) {

                    //                $('#divShowMessage').show();

                    //            } else {

                    //                var role = result.role;

                    //                if (role == "Admin") {


                    //                }

                    //                else if (role == "Admin") {


                    //                }

                    //                else {
                    //                    alert("No environment for you")

                    //                    location.reload();
                    //                }

                    //            }

                    //            $("#btnLogin").val("Login");

                    //            $("#divmessage").html(result.message);

                    //        }

                    //    });

                    //};

</script>
