
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Gallery</title>
    <link href="~/css/gallery.css" rel="stylesheet" />
</head>
<body>
    @*<input type="radio" name="Photos" id="check1" checked>
    <input type="radio" name="Photos" id="check2">
    <input type="radio" name="Photos" id="check3">
    <input type="radio" name="Photos" id="check4">*@

    <div class="container" style="width: 100%; text-align: center; margin-bottom: 5rem ">
        <h1>Our Photo Gallery</h1>
        @*<div class="top-content">
            <h3>Photo Gallery</h3>
            <label for="check1">All Photos</label>
            <label for="check2">Family Photos</label>
            <label for="check3">Childs Photos</label>
            <label for="check4">Visited Places</label>
        </div>*@

        <div class="photo-gallery">
            <div class="pic place">
                <img src="~/GalleryImages/1.jpg" />
            </div>

            <div class="pic family">
                <img src="~/GalleryImages/1_2.jpg" />
            </div>
@*
            <div class="pic child">
                <img src="~/GalleryImages/1_3.jpg" />
            </div>*@
@*
            <div class="pic child">
                <img src="~/GalleryImages/1_5.jpg" />
            </div>*@

@*            <div class="pic child">
                <img src="~/GalleryImages/10.jpg" />
            </div>
*@

            <div class="pic child">
                <img src="~/GalleryImages/4.jpg" />
            </div>
@*
            <div class="pic child">
                <img src="~/GalleryImages/6.jpg" />
            </div>*@

@*
            <div class="pic child">
                <img src="~/GalleryImages/7.jpg" />
            </div>

            <div class="pic child">
                <img src="~/GalleryImages/8.jpg" />
            </div>

            <div class="pic child">
                <img src="~/GalleryImages/9.jpg" />
            </div>*@


        </div>



    </div>
</body>
</html>
<br />
<br />
