@model ParkingManager.DTO.ApplicationUserModule.ApplicationUserDTO

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<body>
    <div class="page-wrapper" style="min-height: 754px;background-color: #f8f9fa;">
        <div class="content container-fluid">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color: #263b6b;color: #fff;">
                        <div class="card-title" style="font-weight:bold;">Change Password</div>
                    </div>
                    <div class="card-body">

                        <div class="container">
                            <div class="clear">

                                <div style="display:none;" id="dvError">
                                    <div class="alert alert-danger" role="alert">
                                        <h6 id="info"></h6>
                                    </div>
                                </div>

                                <div style="display:none;" id="dvSuccess">
                                    <div class="alert alert-success" role="alert">
                                        <h6 id="passwordChangeSuccess"></h6>
                                    </div>
                                </div>
                                <form id="frmChangePassword">

                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" class="form-control" id="txtCurrentPassword" name="CurrentPassword">
                                    </div>


                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" id="txtNewPassword" name="NewPassword">
                                    </div>



                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" id="txtConfirmPassword" name="ConfirmPassword">
                                    </div>



                                    <hr />

                                    <div class="col-md-3  pull-right">
                                        <div class="form-group row">
                                            <input type="button" id="btnChangePassword" class="form-control btn btn-outline-primary" value="Submit">
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>


<script>

    function ShowLoader() {

        $("#loadMe").modal('show');
    }

    function HideLoader() {

        $("#loadMe").modal('hide');
    }
    $("#btnChangePassword").click(function() {

        debugger

        if ($('#txtCurrentPassword').val() == '') {

            $('#txtCurrentPassword').focus();

            $("#dvError").show();

            $("#info").text("Current password is required");

            return false;
        }

        if ($('#txtNewPassword').val() == '') {

            $('#txtNewPassword').focus();

            $("#dvError").show();

            $("#info").text("New password is required");

            return false;
        }

        if ($('#txtConfirmPassword').val() == '') {

            $('#txtConfirmPassword').focus();

            $("#dvError").show();

            $("#info").text("Confirm password is required");

            return false;
        }

        if ($('#txtNewPassword').val() != $('#txtConfirmPassword').val()) {

            $('#txtNewPassword').focus();

            $("#dvError").show();

            $("#info").text("Password and confirm password do not match");

            return false;
        }

        var data = $("#frmChangePassword").serialize();

        $.ajax({

            type: "POST",

            url: "/Admin/UserManager/UpdatePassword/",

            data: data,

            beforeSend: function() { ShowLoader(); },


            success: function(response) {

                if (response.success) {

                    $("#dvSuccess").show();

                    $("#passwordChangeSuccess").text(response.responseText);

                    setTimeout(function() {

                        window.location = "@Url.Action("Logout","Account", new { area="" })";

                    }, 3000);

                } else {
                    $("#dvError").show();

                    $("#info").text(response.responseText);
                }
            },




            error: function(response) {
                alert("error!");  //

            },
            complete: function() {
                HideLoader();
            }
        })

    })
</script>